main{
    display: flex;
}

body{
  background-color: #04101E;
    color: #D1D6E0; 
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
}

#principal {
    background-color: #131821; 
    width: 80%;
}


.galeria {
    width: auto;
    padding: auto;
    background-color: #181E29;
}


.titulo {
    text-align: center;
    color: #E5A93C; 
}


.section-galeria {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.galeria-2{
    display: flex;
    flex-direction: row;
    background-color: #131821;
    justify-content: center;

}

.galeria .articulo {
    background-color: #1D2430; 
    width: 25%;
    height: 120px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #546244; 
}

.articulo{
    background-color: #1D2430;
    width: 25%;
    height: 120px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #546244;
}

.imagen{
    width: 100%;
    height: 100%;
}

.img-bg {
    background-image: url("../img/masterespada.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-bg-2 {
    background-image: url("../img/masterespada2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.color-dg{
  
    background: linear-gradient(to top, #0B0E14, #546244, #E5A93C);
}

.imagen-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu {
    width: 20%;
    background-color: #181E29;
    color: #D1D6E0;
    padding: 0;
    border-left: 1px solid #546244;
    text-align: center;
}

ol{
    margin: 0;
    padding: 0;
}

li{
    padding: 15px;
    list-style: none;
}


.info-iconos ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #05070A;
    color: #D1D6E0;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer a {
    color: #00E5FF; 
}

footer i{
    color: #E5A93C; 
    font-size: 40px;
    font-weight: bolder;
}

.material-symbols-outlined {
  color: #E5A93C;
  font-size: 20px;
  font-weight: bolder;
}